In [1]:
#Connect to your postgres Db
import psycopg2
conn= psycopg2.connect(
    host='192.168.0.252',
    database='mydatabase_a22',
    user='a22',
    password='raspberry',
    port='5432') 
type(conn)

psycopg2.extensions.connection

In [2]:
cur = conn.cursor()
type(cur)

psycopg2.extensions.cursor

In [5]:
cur.execute("SELECT * FROM stations;")

In [6]:
rows = cur.fetchall()
type(rows)

list

In [ ]:
for row in rows:
      print(row)

In [ ]:
for row in rows:
      print(row[2])

In [ ]:
names = []
for row in rows: #row=tuype  rows=list
    names.append(row[2])
names

In [ ]:
addresses = {}
for row in rows:
    addresses[row[2]] = row[4]

addresses

In [ ]:
for items in addresses.items():
    print(items)

In [ ]:
for k,v in addresses.items():
    print(k, v)

In [10]:
addresses['鶯歌']

'新北市鶯歌區東鶯里文化路 68-1號'

In [ ]:
cur.close()
conn.close()