In [ ]:
import pandas_datareader.data as web
import yfinance as yf

data = yf.download('2330.TW')
data

In [ ]:
#台灣大盤[^TWII]


taiwan = yf.download('^TWII')
taiwan

In [17]:
type(taiwan)

pandas.core.frame.DataFrame

In [ ]:
all_data = taiwan.to_dict(orient='index')
for key,value in all_data.items():
    print(key)
    print(type(key))
    print(value)
    print("=========")