In [ ]:
#安裝postgreSQL connection
#!pip install psycopg2-binary
#透過requirements.txt安裝所有套件
#!pip install -r requirements.txt

In [ ]:
for row in rows:
      print(row[1])
      print(row[2])
      print(row[4])

#### tuple
暫時的資料
可儲存多的值
不可新增刪除元素
序列,串列資類(for in操作)

In [ ]:
#建立tuple
tu1 = (1, 3, 5, 7, 9)
print(tu1[0])
print(tu1[1])
print(tu1[2])
print(tu1[3])
print(tu1[4])

In [ ]:
for value in tu1:
    print(value)

In [ ]:
for letter in 'Hello! World!':
    print(letter)

#### list

可儲存多的值
可修改,新增,刪除元素
序列,串列資類(for in操作)

In [15]:
#建立list
ti1 = (2,4,6,8,10)

In [ ]:
for value in ti1:
    print(value)

In [33]:
li2 = list()
li2.append('a')
li2.append(300)
li2.append('python')
li2.append(56.2)
li2

['a', 300, 'python', 56.2]

#### dict
-mapping(key,value)
-key 不可以重複

In [34]:
codes = {'tw':'taiwan',
         'jp':'japan'}
codes

{'tw': 'taiwan', 'jp': 'japan'}

In [35]:
#取出值
print(codes['tw'])
print(codes['jp'])

taiwan
japan

In [36]:
#新增元素
codes['hk'] = 'hong kong'
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}

In [37]:
#建立空的dict
dict1 = dict()
dict1

{}

In [39]:
for item in codes:
    print(item)

tw
jp
hk

In [40]:
for key in codes:
    print(codes[key])

taiwan
japan
hong kong

In [ ]:
#tuple拆解法
(n, m) = (10, 20)
n
m